<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Vegetables</string>
	<key>color</key>
	<string>green</string>
	<key>coverItem</key>
	<string>Salad</string>
	<key>titles</key>
	<dict>
		<key>EN</key>
		<string>Vegetables</string>
		<key>EN-GB</key>
		<string>Vegetables</string>
		<key>FR</key>
		<string>Légumes</string>
		<key>PT</key>
		<string>Legumes</string>
		<key>TR</key>
		<string>Sebzeler</string>
		<key>DE</key>
		<string>Gemüse</string>
		<key>IT</key>
		<string>Verdura</string>
		<key>ES</key>
		<string>Verduras</string>
		<key>ZH-HANS</key>
		<string>蔬菜</string>
		<key>AR</key>
		<string>الخضر</string>
		<key>HE</key>
		<string>ירקות</string>
		<key>DA</key>
		<string>Grøntsager</string>
		<key>SV</key>
		<string>Grönsaker</string>
	</dict>
	<key>items</key>
	<dict>
		<key>EN</key>
		<dict>
			<key>Broccoli</key>
			<string>Broccoli</string>
			<key>Carrot</key>
			<string>Carrot</string>
			<key>Cauliflower</key>
			<string>Cauliflower</string>
			<key>Eggplant</key>
			<string>Eggplant</string>
			<key>GreenPeas</key>
			<string>Green peas</string>
			<key>Onion</key>
			<string>Onion</string>
			<key>Pepper</key>
			<string>Pepper</string>
			<key>Potato</key>
			<string>Potato</string>
			<key>Pumpkin</key>
			<string>Pumpkin</string>
			<key>Salad</key>
			<string>Salad</string>
			<key>Tomato</key>
			<string>Tomato</string>
			<key>Zucchini</key>
			<string>Zucchini</string>
		</dict>
		<key>EN-GB</key>
		<dict>
			<key>Broccoli</key>
			<string>Broccoli</string>
			<key>Carrot</key>
			<string>Carrot</string>
			<key>Cauliflower</key>
			<string>Cauliflower</string>
			<key>Eggplant</key>
			<string>Aubergine</string>
			<key>GreenPeas</key>
			<string>Peas</string>
			<key>Onion</key>
			<string>Onion</string>
			<key>Pepper</key>
			<string>Pepper</string>
			<key>Potato</key>
			<string>Potato</string>
			<key>Pumpkin</key>
			<string>Pumpkin</string>
			<key>Salad</key>
			<string>Salad</string>
			<key>Tomato</key>
			<string>Tomato</string>
			<key>Zucchini</key>
			<string>Courgette</string>
		</dict>
		<key>FR</key>
		<dict>
			<key>Broccoli</key>
			<string>Brocoli</string>
			<key>Carrot</key>
			<string>Carotte</string>
			<key>Cauliflower</key>
			<string>Chou-fleur</string>
			<key>Eggplant</key>
			<string>Aubergine</string>
			<key>GreenPeas</key>
			<string>Petits pois</string>
			<key>Onion</key>
			<string>Oignon</string>
			<key>Pepper</key>
			<string>Poivron</string>
			<key>Potato</key>
			<string>Pomme de terre</string>
			<key>Pumpkin</key>
			<string>Potiron</string>
			<key>Salad</key>
			<string>Salade</string>
			<key>Tomato</key>
			<string>Tomate</string>
			<key>Zucchini</key>
			<string>Courgette</string>
		</dict>
		<key>PT</key>
		<dict>
			<key>Broccoli</key>
			<string>Brócolis</string>
			<key>Carrot</key>
			<string>Cenoura</string>
			<key>Cauliflower</key>
			<string>Couve-flor</string>
			<key>Eggplant</key>
			<string>Beringela</string>
			<key>GreenPeas</key>
			<string>Ervilha</string>
			<key>Onion</key>
			<string>Cebola</string>
			<key>Pepper</key>
			<string>Pimentão</string>
			<key>Potato</key>
			<string>Batata</string>
			<key>Pumpkin</key>
			<string>Abóbora</string>
			<key>Salad</key>
			<string>Salada</string>
			<key>Tomato</key>
			<string>Tomate</string>
			<key>Zucchini</key>
			<string>Abobrinha</string>
		</dict>
		<key>TR</key>
		<dict>
			<key>Broccoli</key>
			<string>Brokoli</string>
			<key>Carrot</key>
			<string>Havuç</string>
			<key>Cauliflower</key>
			<string>Karnıbahar</string>
			<key>Eggplant</key>
			<string>Patlıcan</string>
			<key>GreenPeas</key>
			<string>Bezelye</string>
			<key>Onion</key>
			<string>Soğan</string>
			<key>Pepper</key>
			<string>Biber</string>
			<key>Potato</key>
			<string>Patates</string>
			<key>Pumpkin</key>
			<string>Kabak</string>
			<key>Salad</key>
			<string>Marul</string>
			<key>Tomato</key>
			<string>Domates</string>
			<key>Zucchini</key>
			<string>Kabak</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>Broccoli</key>
			<string>Brokkoli</string>
			<key>Carrot</key>
			<string>Karotten</string>
			<key>Cauliflower</key>
			<string>Blumenkohl</string>
			<key>Eggplant</key>
			<string>Aubergine</string>
			<key>GreenPeas</key>
			<string>Erbsen</string>
			<key>Onion</key>
			<string>Zwiebel</string>
			<key>Pepper</key>
			<string>Paprika</string>
			<key>Potato</key>
			<string>Kartoffel</string>
			<key>Pumpkin</key>
			<string>Kürbis</string>
			<key>Salad</key>
			<string>Salat</string>
			<key>Tomato</key>
			<string>Tomate</string>
			<key>Zucchini</key>
			<string>Zucchini</string>
		</dict>
		<key>IT</key>
		<dict>
			<key>Broccoli</key>
			<string>Broccoli</string>
			<key>Carrot</key>
			<string>Carota</string>
			<key>Cauliflower</key>
			<string>Cavolfiore</string>
			<key>Eggplant</key>
			<string>Melanzana</string>
			<key>GreenPeas</key>
			<string>Piselli</string>
			<key>Onion</key>
			<string>Cipolla</string>
			<key>Pepper</key>
			<string>Peperone</string>
			<key>Potato</key>
			<string>Patata</string>
			<key>Pumpkin</key>
			<string>Zucca</string>
			<key>Salad</key>
			<string>Insalata</string>
			<key>Tomato</key>
			<string>Pomodoro</string>
			<key>Zucchini</key>
			<string>Zucchini</string>
		</dict>
		<key>ES</key>
		<dict>
			<key>Broccoli</key>
			<string>Brócoli</string>
			<key>Carrot</key>
			<string>Zanahoria</string>
			<key>Cauliflower</key>
			<string>Coliflor</string>
			<key>Eggplant</key>
			<string>Berenjena</string>
			<key>GreenPeas</key>
			<string>Guisantes</string>
			<key>Onion</key>
			<string>Cebolla</string>
			<key>Pepper</key>
			<string>Pimiento</string>
			<key>Potato</key>
			<string>Patata</string>
			<key>Pumpkin</key>
			<string>Calabaza</string>
			<key>Salad</key>
			<string>Lechuga</string>
			<key>Tomato</key>
			<string>Tomate</string>
			<key>Zucchini</key>
			<string>Calabacín</string>
		</dict>
		<key>ZH-HANS</key>
		<dict>
			<key>Broccoli</key>
			<string>西兰花</string>
			<key>Carrot</key>
			<string>胡罗卜</string>
			<key>Cauliflower</key>
			<string>菜花</string>
			<key>Eggplant</key>
			<string>茄子</string>
			<key>GreenPeas</key>
			<string>青豆</string>
			<key>Onion</key>
			<string>洋葱</string>
			<key>Pepper</key>
			<string>青椒</string>
			<key>Potato</key>
			<string>土豆</string>
			<key>Pumpkin</key>
			<string>南瓜</string>
			<key>Salad</key>
			<string>青菜</string>
			<key>Tomato</key>
			<string>西红柿</string>
			<key>Zucchini</key>
			<string>西葫芦</string>
		</dict>
		<key>AR</key>
		<dict>
			<key>Broccoli</key>
			<string>بروكلي</string>
			<key>Carrot</key>
			<string>جزر</string>
			<key>Cauliflower</key>
			<string>قرنبيط</string>
			<key>Eggplant</key>
			<string>باذنجان</string>
			<key>GreenPeas</key>
			<string>جُلْبان</string>
			<key>Onion</key>
			<string>بصل</string>
			<key>Pepper</key>
			<string>فلفل</string>
			<key>Potato</key>
			<string>البطاطس</string>
			<key>Pumpkin</key>
			<string>قرع نباتي</string>
			<key>Salad</key>
			<string>سلطة</string>
			<key>Tomato</key>
			<string>طماطم</string>
			<key>Zucchini</key>
			<string>كوسا</string>
		</dict>
		<key>HE</key>
		<dict>
			<key>Broccoli</key>
			<string>ברוקולי</string>
			<key>Carrot</key>
			<string>גזר</string>
			<key>Cauliflower</key>
			<string>כרובית</string>
			<key>Eggplant</key>
			<string>חציל</string>
			<key>GreenPeas</key>
			<string>אפונה ירוקה</string>
			<key>Onion</key>
			<string>בצל</string>
			<key>Pepper</key>
			<string>פלפל</string>
			<key>Potato</key>
			<string>תפוח אדמה</string>
			<key>Pumpkin</key>
			<string>דלעת</string>
			<key>Salad</key>
			<string>סלט</string>
			<key>Tomato</key>
			<string>עגבנייה</string>
			<key>Zucchini</key>
			<string>קישאו</string>
		</dict>
		<key>DA</key>
		<dict>
			<key>Broccoli</key>
			<string>Broccoli</string>
			<key>Carrot</key>
			<string>Gulerod</string>
			<key>Cauliflower</key>
			<string>Blomkål</string>
			<key>Eggplant</key>
			<string>Aubergine</string>
			<key>GreenPeas</key>
			<string>Ærter</string>
			<key>Onion</key>
			<string>Løg</string>
			<key>Pepper</key>
			<string>Peberfrugt</string>
			<key>Potato</key>
			<string>Kartoffel</string>
			<key>Pumpkin</key>
			<string>Græskar</string>
			<key>Salad</key>
			<string>Salat</string>
			<key>Tomato</key>
			<string>Tomat</string>
			<key>Zucchini</key>
			<string>Squash</string>
		</dict>
		<key>SV</key>
		<dict>
			<key>Broccoli</key>
			<string>Broccoli</string>
			<key>Carrot</key>
			<string>Morot</string>
			<key>Cauliflower</key>
			<string>Blomkål</string>
			<key>Eggplant</key>
			<string>Aubergine</string>
			<key>GreenPeas</key>
			<string>Ärter</string>
			<key>Onion</key>
			<string>Lök</string>
			<key>Pepper</key>
			<string>Peppar</string>
			<key>Potato</key>
			<string>Potatis</string>
			<key>Pumpkin</key>
			<string>Pumpa</string>
			<key>Salad</key>
			<string>Salad</string>
			<key>Tomato</key>
			<string>Tomat</string>
			<key>Zucchini</key>
			<string>Squash</string>
		</dict>
	</dict>
</dict>
</plist>
