<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>AnimalsFarm</string>
	<key>color</key>
	<string>yellow</string>
	<key>coverItem</key>
	<string>Chick</string>
	<key>titles</key>
	<dict>
		<key>EN</key>
		<string>Farm animals</string>
		<key>EN-GB</key>
		<string>Farm animals</string>
		<key>FR</key>
		<string>Animaux de la ferme</string>
		<key>PT</key>
		<string>Animais da fazenda</string>
		<key>TR</key>
		<string>Çiftlik hayvanları</string>
		<key>DE</key>
		<string>Tiere auf dem Bauernhof</string>
		<key>IT</key>
		<string>Animali della fattoria</string>
		<key>ES</key>
		<string>Animales de granja</string>
		<key>ZH-HANS</key>
		<string>农场动物</string>
		<key>AR</key>
		<string>حيوانات المزرعة</string>
		<key>HE</key>
		<string>חיות משק</string>
		<key>DA</key>
		<string>Husdyr</string>
		<key>SV</key>
		<string>Husdjur</string>
	</dict>
	<key>items</key>
	<dict>
		<key>EN</key>
		<dict>
			<key>Cat</key>
			<string>Cat</string>
			<key>Chick</key>
			<string>Chick</string>
			<key>Cow</key>
			<string>Cow</string>
			<key>Dog</key>
			<string>Dog</string>
			<key>Donkey</key>
			<string>Donkey</string>
			<key>Duck</key>
			<string>Duck</string>
			<key>Goat</key>
			<string>Goat</string>
			<key>Hen</key>
			<string>Hen</string>
			<key>Horse</key>
			<string>Horse</string>
			<key>Pig</key>
			<string>Pig</string>
			<key>Rabbit</key>
			<string>Rabbit</string>
			<key>Sheep</key>
			<string>Sheep</string>
		</dict>
		<key>EN-GB</key>
		<dict>
			<key>Cat</key>
			<string>Cat</string>
			<key>Chick</key>
			<string>Chick</string>
			<key>Cow</key>
			<string>Cow</string>
			<key>Dog</key>
			<string>Dog</string>
			<key>Donkey</key>
			<string>Donkey</string>
			<key>Duck</key>
			<string>Duck</string>
			<key>Goat</key>
			<string>Goat</string>
			<key>Hen</key>
			<string>Hen</string>
			<key>Horse</key>
			<string>Horse</string>
			<key>Pig</key>
			<string>Pig</string>
			<key>Rabbit</key>
			<string>Rabbit</string>
			<key>Sheep</key>
			<string>Sheep</string>
		</dict>
		<key>FR</key>
		<dict>
			<key>Cat</key>
			<string>Chat</string>
			<key>Chick</key>
			<string>Poussin</string>
			<key>Cow</key>
			<string>Vache</string>
			<key>Dog</key>
			<string>Chien</string>
			<key>Donkey</key>
			<string>Âne</string>
			<key>Duck</key>
			<string>Canard</string>
			<key>Goat</key>
			<string>Chèvre</string>
			<key>Hen</key>
			<string>Poule</string>
			<key>Horse</key>
			<string>Cheval</string>
			<key>Pig</key>
			<string>Cochon</string>
			<key>Rabbit</key>
			<string>Lapin</string>
			<key>Sheep</key>
			<string>Mouton</string>
		</dict>
		<key>PT</key>
		<dict>
			<key>Cat</key>
			<string>Gato</string>
			<key>Chick</key>
			<string>Pintinho</string>
			<key>Cow</key>
			<string>Vaca</string>
			<key>Dog</key>
			<string>Cachorro</string>
			<key>Donkey</key>
			<string>Burro</string>
			<key>Duck</key>
			<string>Pato</string>
			<key>Goat</key>
			<string>Cabra</string>
			<key>Hen</key>
			<string>Galinha</string>
			<key>Horse</key>
			<string>Cavalo</string>
			<key>Pig</key>
			<string>Porco</string>
			<key>Rabbit</key>
			<string>Coelho</string>
			<key>Sheep</key>
			<string>Ovelha</string>
		</dict>
		<key>TR</key>
		<dict>
			<key>Cat</key>
			<string>Kedi</string>
			<key>Chick</key>
			<string>Civciv</string>
			<key>Cow</key>
			<string>Inek</string>
			<key>Dog</key>
			<string>Köpek</string>
			<key>Donkey</key>
			<string>Eşek</string>
			<key>Duck</key>
			<string>Ördek</string>
			<key>Goat</key>
			<string>Keçi</string>
			<key>Hen</key>
			<string>Tavuk</string>
			<key>Horse</key>
			<string>At</string>
			<key>Pig</key>
			<string>Domuz</string>
			<key>Rabbit</key>
			<string>Tavşan</string>
			<key>Sheep</key>
			<string>Koyun</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>Cat</key>
			<string>Katze</string>
			<key>Chick</key>
			<string>Küken</string>
			<key>Cow</key>
			<string>Kuh</string>
			<key>Dog</key>
			<string>Hund</string>
			<key>Donkey</key>
			<string>Esel</string>
			<key>Duck</key>
			<string>Ente</string>
			<key>Goat</key>
			<string>Ziege</string>
			<key>Hen</key>
			<string>Huhn</string>
			<key>Horse</key>
			<string>Pferd</string>
			<key>Pig</key>
			<string>Schwein</string>
			<key>Rabbit</key>
			<string>Hase</string>
			<key>Sheep</key>
			<string>Schaf</string>
		</dict>
		<key>IT</key>
		<dict>
			<key>Cat</key>
			<string>Gatto</string>
			<key>Chick</key>
			<string>Pulcino</string>
			<key>Cow</key>
			<string>Mucca</string>
			<key>Dog</key>
			<string>Cane</string>
			<key>Donkey</key>
			<string>Asino</string>
			<key>Duck</key>
			<string>Anatra</string>
			<key>Goat</key>
			<string>Capra</string>
			<key>Hen</key>
			<string>Gallina</string>
			<key>Horse</key>
			<string>Cavallo</string>
			<key>Pig</key>
			<string>Maiale</string>
			<key>Rabbit</key>
			<string>Coniglio</string>
			<key>Sheep</key>
			<string>Pecora</string>
		</dict>
		<key>ES</key>
		<dict>
			<key>Cat</key>
			<string>Gato</string>
			<key>Chick</key>
			<string>Polluelo</string>
			<key>Cow</key>
			<string>Vaca</string>
			<key>Dog</key>
			<string>Perro</string>
			<key>Donkey</key>
			<string>Burro</string>
			<key>Duck</key>
			<string>Pato</string>
			<key>Goat</key>
			<string>Cabra</string>
			<key>Hen</key>
			<string>Gallina</string>
			<key>Horse</key>
			<string>Caballo</string>
			<key>Pig</key>
			<string>Cerdo</string>
			<key>Rabbit</key>
			<string>Conejo</string>
			<key>Sheep</key>
			<string>Oveja</string>
		</dict>
		<key>ZH-HANS</key>
		<dict>
			<key>Cat</key>
			<string>猫</string>
			<key>Chick</key>
			<string>小鸡</string>
			<key>Cow</key>
			<string>奶牛</string>
			<key>Dog</key>
			<string>狗</string>
			<key>Donkey</key>
			<string>驴</string>
			<key>Duck</key>
			<string>鸭子</string>
			<key>Goat</key>
			<string>山羊</string>
			<key>Hen</key>
			<string>母鸡</string>
			<key>Horse</key>
			<string>马</string>
			<key>Pig</key>
			<string>猪</string>
			<key>Rabbit</key>
			<string>兔</string>
			<key>Sheep</key>
			<string>绵羊</string>
		</dict>
		<key>AR</key>
		<dict>
			<key>Cat</key>
			<string>قط</string>
			<key>Chick</key>
			<string>فرخ</string>
			<key>Cow</key>
			<string>بقرة</string>
			<key>Dog</key>
			<string>كلب</string>
			<key>Donkey</key>
			<string>حمار</string>
			<key>Duck</key>
			<string>بط</string>
			<key>Goat</key>
			<string>ماعز</string>
			<key>Hen</key>
			<string>دجاجة</string>
			<key>Horse</key>
			<string>حصان</string>
			<key>Pig</key>
			<string>خنزير</string>
			<key>Rabbit</key>
			<string>أرنب</string>
			<key>Sheep</key>
			<string>خروف</string>
		</dict>
		<key>HE</key>
		<dict>
			<key>Cat</key>
			<string>חתול</string>
			<key>Chick</key>
			<string>אפרוח</string>
			<key>Cow</key>
			<string>פרה</string>
			<key>Dog</key>
			<string>כלב</string>
			<key>Donkey</key>
			<string>חמור</string>
			<key>Duck</key>
			<string>ברווז</string>
			<key>Goat</key>
			<string>עז</string>
			<key>Hen</key>
			<string>תרנגולת</string>
			<key>Horse</key>
			<string>סוס</string>
			<key>Pig</key>
			<string>חזיר</string>
			<key>Rabbit</key>
			<string>ארנב</string>
			<key>Sheep</key>
			<string>כבשה</string>
		</dict>
		<key>DA</key>
		<dict>
			<key>Cat</key>
			<string>Kat</string>
			<key>Chick</key>
			<string>Kylling</string>
			<key>Cow</key>
			<string>Ko</string>
			<key>Dog</key>
			<string>Hund</string>
			<key>Donkey</key>
			<string>Æsel</string>
			<key>Duck</key>
			<string>And</string>
			<key>Goat</key>
			<string>Ged</string>
			<key>Hen</key>
			<string>Høne</string>
			<key>Horse</key>
			<string>Hest</string>
			<key>Pig</key>
			<string>Gris</string>
			<key>Rabbit</key>
			<string>Kanin</string>
			<key>Sheep</key>
			<string>Får</string>
		</dict>
		<key>SV</key>
		<dict>
			<key>Cat</key>
			<string>Kat</string>
			<key>Chick</key>
			<string>Kykling</string>
			<key>Cow</key>
			<string>Ko</string>
			<key>Dog</key>
			<string>Hund</string>
			<key>Donkey</key>
			<string>Åsna</string>
			<key>Duck</key>
			<string>Anka</string>
			<key>Goat</key>
			<string>Get</string>
			<key>Hen</key>
			<string>Höna</string>
			<key>Horse</key>
			<string>Häst</string>
			<key>Pig</key>
			<string>Gris</string>
			<key>Rabbit</key>
			<string>Kanin</string>
			<key>Sheep</key>
			<string>Får</string>
		</dict>
	</dict>
</dict>
</plist>
