<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>AnimalsSavanna</string>
	<key>color</key>
	<string>orange</string>
	<key>coverItem</key>
	<string>Lion</string>
	<key>titles</key>
	<dict>
		<key>EN</key>
		<string>Animals of the savanna</string>
		<key>EN-GB</key>
		<string>Animals of the savanna</string>
		<key>FR</key>
		<string>Animaux de la savane</string>
		<key>PT</key>
		<string>Animais da savana</string>
		<key>TR</key>
		<string>Ova hayvanları</string>
		<key>DE</key>
		<string>Tiere in Afrika</string>
		<key>IT</key>
		<string>Animali della savana</string>
		<key>ES</key>
		<string>Animales de la sabana</string>
		<key>ZH-HANS</key>
		<string>热带亚热带草原动物</string>
		<key>AR</key>
		<string>حيوانات السافانا</string>
		<key>HE</key>
		<string>חיות הסוואנה</string>
		<key>DA</key>
		<string>Dyr på savannen</string>
		<key>SV</key>
		<string>Savanndjur</string>
	</dict>
	<key>items</key>
	<dict>
		<key>EN</key>
		<dict>
			<key>Antelope</key>
			<string>Antelope</string>
			<key>Cheetah</key>
			<string>Cheetah</string>
			<key>Elephant</key>
			<string>Elephant</string>
			<key>Giraffe</key>
			<string>Giraffe</string>
			<key>Gnu</key>
			<string>Gnu</string>
			<key>Hippopotamus</key>
			<string>Hippopotamus</string>
			<key>Hyena</key>
			<string>Hyena</string>
			<key>Leopard</key>
			<string>Leopard</string>
			<key>Lion</key>
			<string>Lion</string>
			<key>Monkey</key>
			<string>Monkey</string>
			<key>Rhinoceros</key>
			<string>Rhinoceros</string>
			<key>Zebra</key>
			<string>Zebra</string>
		</dict>
		<key>EN-GB</key>
		<dict>
			<key>Antelope</key>
			<string>Antelope</string>
			<key>Cheetah</key>
			<string>Cheetah</string>
			<key>Elephant</key>
			<string>Elephant</string>
			<key>Giraffe</key>
			<string>Giraffe</string>
			<key>Gnu</key>
			<string>Gnu</string>
			<key>Hippopotamus</key>
			<string>Hippopotamus</string>
			<key>Hyena</key>
			<string>Hyena</string>
			<key>Leopard</key>
			<string>Leopard</string>
			<key>Lion</key>
			<string>Lion</string>
			<key>Monkey</key>
			<string>Monkey</string>
			<key>Rhinoceros</key>
			<string>Rhinoceros</string>
			<key>Zebra</key>
			<string>Zebra</string>
		</dict>
		<key>FR</key>
		<dict>
			<key>Antelope</key>
			<string>Antilope</string>
			<key>Cheetah</key>
			<string>Guépard</string>
			<key>Elephant</key>
			<string>Eléphant</string>
			<key>Giraffe</key>
			<string>Girafe</string>
			<key>Gnu</key>
			<string>Gnou</string>
			<key>Hippopotamus</key>
			<string>Hippopotame</string>
			<key>Hyena</key>
			<string>Hyène</string>
			<key>Leopard</key>
			<string>Léopard</string>
			<key>Lion</key>
			<string>Lion</string>
			<key>Monkey</key>
			<string>Singe</string>
			<key>Rhinoceros</key>
			<string>Rhinocéros</string>
			<key>Zebra</key>
			<string>Zèbre</string>
		</dict>
		<key>PT</key>
		<dict>
			<key>Antelope</key>
			<string>Antílope</string>
			<key>Cheetah</key>
			<string>Guepardo</string>
			<key>Elephant</key>
			<string>Elefante</string>
			<key>Giraffe</key>
			<string>Girafa</string>
			<key>Gnu</key>
			<string>Gnu</string>
			<key>Hippopotamus</key>
			<string>Hipopótamo</string>
			<key>Hyena</key>
			<string>Hiena</string>
			<key>Leopard</key>
			<string>Leopardo</string>
			<key>Lion</key>
			<string>Leão</string>
			<key>Monkey</key>
			<string>Macaco</string>
			<key>Rhinoceros</key>
			<string>Rinoceronte</string>
			<key>Zebra</key>
			<string>Zebra</string>
		</dict>
		<key>TR</key>
		<dict>
			<key>Antelope</key>
			<string>Antilop</string>
			<key>Cheetah</key>
			<string>Çita</string>
			<key>Elephant</key>
			<string>Fil</string>
			<key>Giraffe</key>
			<string>Zürafa</string>
			<key>Gnu</key>
			<string>Gnu</string>
			<key>Hippopotamus</key>
			<string>Suaygırı</string>
			<key>Hyena</key>
			<string>Sırtlan</string>
			<key>Leopard</key>
			<string>Leopar</string>
			<key>Lion</key>
			<string>Aslan</string>
			<key>Monkey</key>
			<string>Maymun</string>
			<key>Rhinoceros</key>
			<string>Gergedan</string>
			<key>Zebra</key>
			<string>Zebra</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>Antelope</key>
			<string>Antilope</string>
			<key>Cheetah</key>
			<string>Gepard</string>
			<key>Elephant</key>
			<string>Elefant</string>
			<key>Giraffe</key>
			<string>Giraffe</string>
			<key>Gnu</key>
			<string>Gnu</string>
			<key>Hippopotamus</key>
			<string>Nilpferd</string>
			<key>Hyena</key>
			<string>Hyäne</string>
			<key>Leopard</key>
			<string>Leopard</string>
			<key>Lion</key>
			<string>Löwe</string>
			<key>Monkey</key>
			<string>Affe</string>
			<key>Rhinoceros</key>
			<string>Nashorn</string>
			<key>Zebra</key>
			<string>Zebra</string>
		</dict>
		<key>IT</key>
		<dict>
			<key>Antelope</key>
			<string>Antilope</string>
			<key>Cheetah</key>
			<string>Ghepardo</string>
			<key>Elephant</key>
			<string>Elefante</string>
			<key>Giraffe</key>
			<string>Giraffa</string>
			<key>Gnu</key>
			<string>Gnu</string>
			<key>Hippopotamus</key>
			<string>Ippopotamo</string>
			<key>Hyena</key>
			<string>Iena</string>
			<key>Leopard</key>
			<string>Leopardo</string>
			<key>Lion</key>
			<string>Leone</string>
			<key>Monkey</key>
			<string>Scimmia</string>
			<key>Rhinoceros</key>
			<string>Rinoceronte</string>
			<key>Zebra</key>
			<string>Zebra</string>
		</dict>
		<key>ES</key>
		<dict>
			<key>Antelope</key>
			<string>Antílope</string>
			<key>Cheetah</key>
			<string>Guepardo</string>
			<key>Elephant</key>
			<string>Elefante</string>
			<key>Giraffe</key>
			<string>Jirafa</string>
			<key>Gnu</key>
			<string>Ñu</string>
			<key>Hippopotamus</key>
			<string>Hipopótamo</string>
			<key>Hyena</key>
			<string>Hiena</string>
			<key>Leopard</key>
			<string>Leopardo</string>
			<key>Lion</key>
			<string>León</string>
			<key>Monkey</key>
			<string>Mono</string>
			<key>Rhinoceros</key>
			<string>Rinoceronte</string>
			<key>Zebra</key>
			<string>Cebra</string>
		</dict>
		<key>ZH-HANS</key>
		<dict>
			<key>Antelope</key>
			<string>铃羊</string>
			<key>Cheetah</key>
			<string>猎豹</string>
			<key>Elephant</key>
			<string>大象</string>
			<key>Giraffe</key>
			<string>长颈鹿</string>
			<key>Gnu</key>
			<string>牛铃</string>
			<key>Hippopotamus</key>
			<string>河马</string>
			<key>Hyena</key>
			<string>土狼</string>
			<key>Leopard</key>
			<string>豹</string>
			<key>Lion</key>
			<string>狮子</string>
			<key>Monkey</key>
			<string>猴子</string>
			<key>Rhinoceros</key>
			<string>犀牛</string>
			<key>Zebra</key>
			<string>斑马</string>
		</dict>
		<key>AR</key>
		<dict>
			<key>Antelope</key>
			<string>الظَبْي</string>
			<key>Cheetah</key>
			<string>الفهد</string>
			<key>Elephant</key>
			<string>فيل</string>
			<key>Giraffe</key>
			<string>زرافة</string>
			<key>Gnu</key>
			<string>نو</string>
			<key>Hippopotamus</key>
			<string>فرس النهر</string>
			<key>Hyena</key>
			<string>ضبع</string>
			<key>Leopard</key>
			<string>نمر</string>
			<key>Lion</key>
			<string>أسد</string>
			<key>Monkey</key>
			<string>قرد</string>
			<key>Rhinoceros</key>
			<string>وحيد القرن</string>
			<key>Zebra</key>
			<string>الحمار الوحشي</string>
		</dict>
		<key>HE</key>
		<dict>
			<key>Antelope</key>
			<string>אנטילופה</string>
			<key>Cheetah</key>
			<string>צ&apos;יטה</string>
			<key>Elephant</key>
			<string>פיל</string>
			<key>Giraffe</key>
			<string>ג&apos;ירפה</string>
			<key>Gnu</key>
			<string>גנו</string>
			<key>Hippopotamus</key>
			<string>היפופוטם</string>
			<key>Hyena</key>
			<string>צבוע</string>
			<key>Leopard</key>
			<string>נמר</string>
			<key>Lion</key>
			<string>אריה</string>
			<key>Monkey</key>
			<string>קוף</string>
			<key>Rhinoceros</key>
			<string>קרנף</string>
			<key>Zebra</key>
			<string>זברה</string>
		</dict>
		<key>DA</key>
		<dict>
			<key>Antelope</key>
			<string>Antilope</string>
			<key>Cheetah</key>
			<string>Gepard</string>
			<key>Elephant</key>
			<string>Elefant</string>
			<key>Giraffe</key>
			<string>Giraf</string>
			<key>Gnu</key>
			<string>Gnu</string>
			<key>Hippopotamus</key>
			<string>Flodhest</string>
			<key>Hyena</key>
			<string>Hyæne</string>
			<key>Leopard</key>
			<string>Leopard</string>
			<key>Lion</key>
			<string>Løve</string>
			<key>Monkey</key>
			<string>Abe</string>
			<key>Rhinoceros</key>
			<string>Næsehorn</string>
			<key>Zebra</key>
			<string>Zebra</string>
		</dict>
		<key>SV</key>
		<dict>
			<key>Antelope</key>
			<string>Antilope</string>
			<key>Cheetah</key>
			<string>Guepard</string>
			<key>Elephant</key>
			<string>Elefant</string>
			<key>Giraffe</key>
			<string>Giraf</string>
			<key>Gnu</key>
			<string>Gnu</string>
			<key>Hippopotamus</key>
			<string>Flodhäst</string>
			<key>Hyena</key>
			<string>Hyena</string>
			<key>Leopard</key>
			<string>Leopard</string>
			<key>Lion</key>
			<string>Lejon</string>
			<key>Monkey</key>
			<string>Apa</string>
			<key>Rhinoceros</key>
			<string>Noshorning</string>
			<key>Zebra</key>
			<string>Zebra</string>
		</dict>
	</dict>
</dict>
</plist>
