<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Fruits</string>
	<key>color</key>
	<string>red</string>
	<key>coverItem</key>
	<string>Raspberry</string>
	<key>titles</key>
	<dict>
		<key>EN</key>
		<string>Fruits</string>
		<key>EN-GB</key>
		<string>Fruits</string>
		<key>FR</key>
		<string>Fruits</string>
		<key>PT</key>
		<string>Frutas</string>
		<key>TR</key>
		<string>Meyveler</string>
		<key>DE</key>
		<string>Obst</string>
		<key>IT</key>
		<string>Frutta</string>
		<key>ES</key>
		<string>Fruta</string>
		<key>ZH-HANS</key>
		<string>水果</string>
		<key>AR</key>
		<string>فواكه</string>
		<key>HE</key>
		<string>פירות</string>
		<key>DA</key>
		<string>Frugter</string>
		<key>SV</key>
		<string>Frukter</string>
	</dict>
	<key>items</key>
	<dict>
		<key>EN</key>
		<dict>
			<key>Apple</key>
			<string>Apple</string>
			<key>Banana</key>
			<string>Banana</string>
			<key>Cherry</key>
			<string>Cherry</string>
			<key>Coconut</key>
			<string>Coconut</string>
			<key>Melon</key>
			<string>Melon</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>PassionFruit</key>
			<string>Passion fruit</string>
			<key>Pear</key>
			<string>Pear</string>
			<key>Pineapple</key>
			<string>Pineapple</string>
			<key>Raspberry</key>
			<string>Raspberry</string>
			<key>Strawberry</key>
			<string>Strawberry</string>
			<key>Watermelon</key>
			<string>Watermelon</string>
		</dict>
		<key>EN-GB</key>
		<dict>
			<key>Apple</key>
			<string>Apple</string>
			<key>Banana</key>
			<string>Banana</string>
			<key>Cherry</key>
			<string>Cherry</string>
			<key>Coconut</key>
			<string>Coconut</string>
			<key>Melon</key>
			<string>Melon</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>PassionFruit</key>
			<string>Passion fruit</string>
			<key>Pear</key>
			<string>Pear</string>
			<key>Pineapple</key>
			<string>Pineapple</string>
			<key>Raspberry</key>
			<string>Raspberry</string>
			<key>Strawberry</key>
			<string>Strawberry</string>
			<key>Watermelon</key>
			<string>Watermelon</string>
		</dict>
		<key>FR</key>
		<dict>
			<key>Apple</key>
			<string>Pomme</string>
			<key>Banana</key>
			<string>Banane</string>
			<key>Cherry</key>
			<string>Cerise</string>
			<key>Coconut</key>
			<string>Noix de coco</string>
			<key>Melon</key>
			<string>Melon</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>PassionFruit</key>
			<string>Fruit de la passion</string>
			<key>Pear</key>
			<string>Poire</string>
			<key>Pineapple</key>
			<string>Ananas</string>
			<key>Raspberry</key>
			<string>Framboise</string>
			<key>Strawberry</key>
			<string>Fraise</string>
			<key>Watermelon</key>
			<string>Pastèque</string>
		</dict>
		<key>PT</key>
		<dict>
			<key>Apple</key>
			<string>Maçã</string>
			<key>Banana</key>
			<string>Banana</string>
			<key>Cherry</key>
			<string>Cereja</string>
			<key>Coconut</key>
			<string>Côco</string>
			<key>Melon</key>
			<string>Melão</string>
			<key>Orange</key>
			<string>Laranja</string>
			<key>PassionFruit</key>
			<string>Maracujá</string>
			<key>Pear</key>
			<string>Pêra</string>
			<key>Pineapple</key>
			<string>Abacaxi</string>
			<key>Raspberry</key>
			<string>Framboesa</string>
			<key>Strawberry</key>
			<string>Morango</string>
			<key>Watermelon</key>
			<string>Melancia</string>
		</dict>
		<key>TR</key>
		<dict>
			<key>Apple</key>
			<string>Elma</string>
			<key>Banana</key>
			<string>Muz</string>
			<key>Cherry</key>
			<string>Kiraz</string>
			<key>Coconut</key>
			<string>Hindistan cevizi</string>
			<key>Melon</key>
			<string>Kavun</string>
			<key>Orange</key>
			<string>Portakal</string>
			<key>PassionFruit</key>
			<string>Tutku meyvesi</string>
			<key>Pear</key>
			<string>Armut</string>
			<key>Pineapple</key>
			<string>Ananas</string>
			<key>Raspberry</key>
			<string>Ahududu</string>
			<key>Strawberry</key>
			<string>Çilek</string>
			<key>Watermelon</key>
			<string>Karpuz</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>Apple</key>
			<string>Apfel</string>
			<key>Banana</key>
			<string>Banane</string>
			<key>Cherry</key>
			<string>Kirsche</string>
			<key>Coconut</key>
			<string>Kokosnuss</string>
			<key>Melon</key>
			<string>Melone</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>PassionFruit</key>
			<string>Passionsfrucht</string>
			<key>Pear</key>
			<string>Birne</string>
			<key>Pineapple</key>
			<string>Ananas</string>
			<key>Raspberry</key>
			<string>Himmbeere</string>
			<key>Strawberry</key>
			<string>Erdbeere</string>
			<key>Watermelon</key>
			<string>Wassermelone</string>
		</dict>
		<key>IT</key>
		<dict>
			<key>Apple</key>
			<string>Mela</string>
			<key>Banana</key>
			<string>Banana</string>
			<key>Cherry</key>
			<string>Ciliegia</string>
			<key>Coconut</key>
			<string>Noce di cocco</string>
			<key>Melon</key>
			<string>Melone</string>
			<key>Orange</key>
			<string>Arancia</string>
			<key>PassionFruit</key>
			<string>Frutto della passione</string>
			<key>Pear</key>
			<string>Pera</string>
			<key>Pineapple</key>
			<string>Ananas</string>
			<key>Raspberry</key>
			<string>Lampone</string>
			<key>Strawberry</key>
			<string>Fragola</string>
			<key>Watermelon</key>
			<string>Anguria</string>
		</dict>
		<key>ES</key>
		<dict>
			<key>Apple</key>
			<string>Manzana</string>
			<key>Banana</key>
			<string>Plátano</string>
			<key>Cherry</key>
			<string>Cereza</string>
			<key>Coconut</key>
			<string>Coco</string>
			<key>Melon</key>
			<string>Melón</string>
			<key>Orange</key>
			<string>Naranja</string>
			<key>PassionFruit</key>
			<string>Maracuyá</string>
			<key>Pear</key>
			<string>Pera</string>
			<key>Pineapple</key>
			<string>Piña</string>
			<key>Raspberry</key>
			<string>Frambuesa</string>
			<key>Strawberry</key>
			<string>Fresa</string>
			<key>Watermelon</key>
			<string>Sandía</string>
		</dict>
		<key>ZH-HANS</key>
		<dict>
			<key>Apple</key>
			<string>苹果</string>
			<key>Banana</key>
			<string>香蕉</string>
			<key>Cherry</key>
			<string>樱桃</string>
			<key>Coconut</key>
			<string>椰子</string>
			<key>Melon</key>
			<string>哈蜜瓜</string>
			<key>Orange</key>
			<string>橙子</string>
			<key>PassionFruit</key>
			<string>热情果</string>
			<key>Pear</key>
			<string>梨</string>
			<key>Pineapple</key>
			<string>菠萝</string>
			<key>Raspberry</key>
			<string>覆盆子</string>
			<key>Strawberry</key>
			<string>草莓</string>
			<key>Watermelon</key>
			<string>西瓜</string>
		</dict>
		<key>AR</key>
		<dict>
			<key>Apple</key>
			<string>تفاحة</string>
			<key>Banana</key>
			<string>موز</string>
			<key>Cherry</key>
			<string>كرز</string>
			<key>Coconut</key>
			<string>جوز الهند</string>
			<key>Melon</key>
			<string>شمام</string>
			<key>Orange</key>
			<string>برتقال</string>
			<key>PassionFruit</key>
			<string>ثمرة زهرة الآلام</string>
			<key>Pear</key>
			<string>اﻹجاصِ</string>
			<key>Pineapple</key>
			<string>الأناناس</string>
			<key>Raspberry</key>
			<string>التوت</string>
			<key>Strawberry</key>
			<string>الفراولة</string>
			<key>Watermelon</key>
			<string>بطيخ</string>
		</dict>
		<key>HE</key>
		<dict>
			<key>Apple</key>
			<string>תפוח</string>
			<key>Banana</key>
			<string>בננה</string>
			<key>Cherry</key>
			<string>דובדבן</string>
			<key>Coconut</key>
			<string>קוקוס</string>
			<key>Melon</key>
			<string>מלון</string>
			<key>Orange</key>
			<string>תפוז</string>
			<key>PassionFruit</key>
			<string>פסיפלורה</string>
			<key>Pear</key>
			<string>אגס</string>
			<key>Pineapple</key>
			<string>אננס</string>
			<key>Raspberry</key>
			<string>פטל</string>
			<key>Strawberry</key>
			<string>תות</string>
			<key>Watermelon</key>
			<string>אבטיח</string>
		</dict>
		<key>DA</key>
		<dict>
			<key>Apple</key>
			<string>Æble</string>
			<key>Banana</key>
			<string>Banan</string>
			<key>Cherry</key>
			<string>Kirsebær</string>
			<key>Coconut</key>
			<string>Kokosnød</string>
			<key>Melon</key>
			<string>Melon</string>
			<key>Orange</key>
			<string>Appelsin</string>
			<key>PassionFruit</key>
			<string>Passionsfrugt</string>
			<key>Pear</key>
			<string>Pære</string>
			<key>Pineapple</key>
			<string>Ananas</string>
			<key>Raspberry</key>
			<string>Hindbær</string>
			<key>Strawberry</key>
			<string>Jordbær</string>
			<key>Watermelon</key>
			<string>Vandmelon</string>
		</dict>
		<key>SV</key>
		<dict>
			<key>Apple</key>
			<string>Äpple</string>
			<key>Banana</key>
			<string>Banan</string>
			<key>Cherry</key>
			<string>Körsbär</string>
			<key>Coconut</key>
			<string>Kokonöt</string>
			<key>Melon</key>
			<string>Melon</string>
			<key>Orange</key>
			<string>Appelsin</string>
			<key>PassionFruit</key>
			<string>Passionsfrukt</string>
			<key>Pear</key>
			<string>Päron</string>
			<key>Pineapple</key>
			<string>Ananas</string>
			<key>Raspberry</key>
			<string>Hallon</string>
			<key>Strawberry</key>
			<string>Jordgubb</string>
			<key>Watermelon</key>
			<string>Vattenmelon</string>
		</dict>
	</dict>
</dict>
</plist>
