<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>AnimalsOcean</string>
	<key>color</key>
	<string>blue</string>
	<key>coverItem</key>
	<string>Dolphin</string>
	<key>titles</key>
	<dict>
		<key>EN</key>
		<string>Animals of the sea</string>
		<key>EN-GB</key>
		<string>Animals of the sea</string>
		<key>FR</key>
		<string>Animaux de la mer</string>
		<key>PT</key>
		<string>Animais marinhos</string>
		<key>TR</key>
		<string>Deniz hayvanları</string>
		<key>DE</key>
		<string>Meerestiere</string>
		<key>IT</key>
		<string>Animali marini</string>
		<key>ES</key>
		<string>Animales marinos</string>
		<key>ZH-HANS</key>
		<string>海洋动物</string>
		<key>AR</key>
		<string>حيوانات البحر</string>
		<key>HE</key>
		<string>חיות ים</string>
		<key>DA</key>
		<string>Dyr i havet</string>
		<key>SV</key>
		<string>Havsdjur</string>
	</dict>
	<key>items</key>
	<dict>
		<key>EN</key>
		<dict>
			<key>Crab</key>
			<string>Crab</string>
			<key>Dolphin</key>
			<string>Dolphin</string>
			<key>Fish</key>
			<string>Fish</string>
			<key>Jellyfish</key>
			<string>Jellyfish</string>
			<key>KillerWhale</key>
			<string>Killer whale</string>
			<key>Octopus</key>
			<string>Octopus</string>
			<key>Seahorse</key>
			<string>Seahorse</string>
			<key>Shark</key>
			<string>Shark</string>
			<key>Shell</key>
			<string>Sea shell</string>
			<key>Starfish</key>
			<string>Starfish</string>
			<key>Turtle</key>
			<string>Turtle</string>
			<key>Whale</key>
			<string>Whale</string>
		</dict>
		<key>EN-GB</key>
		<dict>
			<key>Crab</key>
			<string>Crab</string>
			<key>Dolphin</key>
			<string>Dolphin</string>
			<key>Fish</key>
			<string>Fish</string>
			<key>Jellyfish</key>
			<string>Jellyfish</string>
			<key>KillerWhale</key>
			<string>Killer whale</string>
			<key>Octopus</key>
			<string>Octopus</string>
			<key>Seahorse</key>
			<string>Seahorse</string>
			<key>Shark</key>
			<string>Shark</string>
			<key>Shell</key>
			<string>Sea shell</string>
			<key>Starfish</key>
			<string>Starfish</string>
			<key>Turtle</key>
			<string>Turtle</string>
			<key>Whale</key>
			<string>Whale</string>
		</dict>
		<key>FR</key>
		<dict>
			<key>Crab</key>
			<string>Crabe</string>
			<key>Dolphin</key>
			<string>Dauphin</string>
			<key>Fish</key>
			<string>Poisson</string>
			<key>Jellyfish</key>
			<string>Méduse</string>
			<key>KillerWhale</key>
			<string>Orque</string>
			<key>Octopus</key>
			<string>Pieuvre</string>
			<key>Seahorse</key>
			<string>Hippocampe</string>
			<key>Shark</key>
			<string>Requin</string>
			<key>Shell</key>
			<string>Coquillage</string>
			<key>Starfish</key>
			<string>Etoile de mer</string>
			<key>Turtle</key>
			<string>Tortue</string>
			<key>Whale</key>
			<string>Baleine</string>
		</dict>
		<key>PT</key>
		<dict>
			<key>Crab</key>
			<string>Caranguejo</string>
			<key>Dolphin</key>
			<string>Golfinho</string>
			<key>Fish</key>
			<string>Peixe</string>
			<key>Jellyfish</key>
			<string>Água-viva</string>
			<key>KillerWhale</key>
			<string>Orca</string>
			<key>Octopus</key>
			<string>Polvo</string>
			<key>Seahorse</key>
			<string>Cavalo marinho</string>
			<key>Shark</key>
			<string>Tubarão</string>
			<key>Shell</key>
			<string>Concha</string>
			<key>Starfish</key>
			<string>Estrela do mar</string>
			<key>Turtle</key>
			<string>Tartaruga</string>
			<key>Whale</key>
			<string>Baleia</string>
		</dict>
		<key>TR</key>
		<dict>
			<key>Crab</key>
			<string>Yengeç</string>
			<key>Dolphin</key>
			<string>Yunus</string>
			<key>Fish</key>
			<string>Balık</string>
			<key>Jellyfish</key>
			<string>Denizanası</string>
			<key>KillerWhale</key>
			<string>Katil balina</string>
			<key>Octopus</key>
			<string>Ahtapot</string>
			<key>Seahorse</key>
			<string>Hipokampus</string>
			<key>Shark</key>
			<string>Köpekbalığı</string>
			<key>Shell</key>
			<string>Deniz kabuğu</string>
			<key>Starfish</key>
			<string>Denizyıldızı</string>
			<key>Turtle</key>
			<string>Deniz kaplumbağası</string>
			<key>Whale</key>
			<string>Balina</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>Crab</key>
			<string>Krabbe</string>
			<key>Dolphin</key>
			<string>Delphin</string>
			<key>Fish</key>
			<string>Fisch</string>
			<key>Jellyfish</key>
			<string>Qualle</string>
			<key>KillerWhale</key>
			<string>Schwertwal</string>
			<key>Octopus</key>
			<string>Tintenfisch</string>
			<key>Seahorse</key>
			<string>Seepferdchen</string>
			<key>Shark</key>
			<string>Hai</string>
			<key>Shell</key>
			<string>Muschel</string>
			<key>Starfish</key>
			<string>Seestern</string>
			<key>Turtle</key>
			<string>Schildkröte</string>
			<key>Whale</key>
			<string>Wal</string>
		</dict>
		<key>IT</key>
		<dict>
			<key>Crab</key>
			<string>Granchio</string>
			<key>Dolphin</key>
			<string>Delfino</string>
			<key>Fish</key>
			<string>Pesce</string>
			<key>Jellyfish</key>
			<string>Medusa</string>
			<key>KillerWhale</key>
			<string>Orca</string>
			<key>Octopus</key>
			<string>Piovra</string>
			<key>Seahorse</key>
			<string>Cavalluccio marino</string>
			<key>Shark</key>
			<string>Squalo</string>
			<key>Shell</key>
			<string>Conchiglia</string>
			<key>Starfish</key>
			<string>Stella di mare</string>
			<key>Turtle</key>
			<string>Tartaruga</string>
			<key>Whale</key>
			<string>Balena</string>
		</dict>
		<key>ES</key>
		<dict>
			<key>Crab</key>
			<string>Cangrejo</string>
			<key>Dolphin</key>
			<string>Delfín</string>
			<key>Fish</key>
			<string>Pez</string>
			<key>Jellyfish</key>
			<string>Medusa</string>
			<key>KillerWhale</key>
			<string>Orca</string>
			<key>Octopus</key>
			<string>Pulpo</string>
			<key>Seahorse</key>
			<string>Caballito de mar</string>
			<key>Shark</key>
			<string>Tiburón</string>
			<key>Shell</key>
			<string>Caracola</string>
			<key>Starfish</key>
			<string>Estrella de mar</string>
			<key>Turtle</key>
			<string>Tortuga</string>
			<key>Whale</key>
			<string>Ballena</string>
		</dict>
		<key>ZH-HANS</key>
		<dict>
			<key>Crab</key>
			<string>蟹</string>
			<key>Dolphin</key>
			<string>海豚</string>
			<key>Fish</key>
			<string>鱼</string>
			<key>Jellyfish</key>
			<string>水母</string>
			<key>KillerWhale</key>
			<string>虎鲸</string>
			<key>Octopus</key>
			<string>章鱼</string>
			<key>Seahorse</key>
			<string>海马</string>
			<key>Shark</key>
			<string>鲨鱼</string>
			<key>Shell</key>
			<string>贝壳</string>
			<key>Starfish</key>
			<string>海星</string>
			<key>Turtle</key>
			<string>龟</string>
			<key>Whale</key>
			<string>鲸鱼</string>
		</dict>
		<key>AR</key>
		<dict>
			<key>Crab</key>
			<string>سلطعون</string>
			<key>Dolphin</key>
			<string>دلفين</string>
			<key>Fish</key>
			<string>سمك</string>
			<key>Jellyfish</key>
			<string>قنديل البحر</string>
			<key>KillerWhale</key>
			<string>الحوت القاتل</string>
			<key>Octopus</key>
			<string>أخطبوط</string>
			<key>Seahorse</key>
			<string>فرس البحر</string>
			<key>Shark</key>
			<string>سمك القرش</string>
			<key>Shell</key>
			<string>صدفة بحرية</string>
			<key>Starfish</key>
			<string>نجم البحر</string>
			<key>Turtle</key>
			<string>سلحفاة</string>
			<key>Whale</key>
			<string>حوت</string>
		</dict>
		<key>HE</key>
		<dict>
			<key>Crab</key>
			<string>סרטן</string>
			<key>Dolphin</key>
			<string>דולפין</string>
			<key>Fish</key>
			<string>דג</string>
			<key>Jellyfish</key>
			<string>מדוזה</string>
			<key>KillerWhale</key>
			<string>אורקה</string>
			<key>Octopus</key>
			<string>תמנון</string>
			<key>Seahorse</key>
			<string>סוסון ים</string>
			<key>Shark</key>
			<string>כריש</string>
			<key>Shell</key>
			<string>צדפה</string>
			<key>Starfish</key>
			<string>כוכב ים</string>
			<key>Turtle</key>
			<string>צב</string>
			<key>Whale</key>
			<string>לווייתן</string>
		</dict>
		<key>DA</key>
		<dict>
			<key>Crab</key>
			<string>Krabbe</string>
			<key>Dolphin</key>
			<string>Delfin</string>
			<key>Fish</key>
			<string>Fisk</string>
			<key>Jellyfish</key>
			<string>Vandmand</string>
			<key>KillerWhale</key>
			<string>Spækhugger</string>
			<key>Octopus</key>
			<string>Blæksprutte</string>
			<key>Seahorse</key>
			<string>Søhest</string>
			<key>Shark</key>
			<string>Haj</string>
			<key>Shell</key>
			<string>Musling</string>
			<key>Starfish</key>
			<string>Søstjerne</string>
			<key>Turtle</key>
			<string>Skildpadde</string>
			<key>Whale</key>
			<string>Hval</string>
		</dict>
		<key>SV</key>
		<dict>
			<key>Crab</key>
			<string>Krabba</string>
			<key>Dolphin</key>
			<string>Delfin</string>
			<key>Fish</key>
			<string>Fisk</string>
			<key>Jellyfish</key>
			<string>Maneter</string>
			<key>KillerWhale</key>
			<string>Späckhuggare</string>
			<key>Octopus</key>
			<string>Bläckfisk</string>
			<key>Seahorse</key>
			<string>Sjöhäst</string>
			<key>Shark</key>
			<string>Haj</string>
			<key>Shell</key>
			<string>Mussla</string>
			<key>Starfish</key>
			<string>Sjöstjärna</string>
			<key>Turtle</key>
			<string>Sköldpadda</string>
			<key>Whale</key>
			<string>Val</string>
		</dict>
	</dict>
</dict>
</plist>
