<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Colors</string>
	<key>color</key>
	<string>purple</string>
	<key>coverItem</key>
	<string>Purple</string>
	<key>titles</key>
	<dict>
		<key>EN</key>
		<string>Colors</string>
		<key>EN-GB</key>
		<string>Colours</string>
		<key>FR</key>
		<string>Couleurs</string>
		<key>PT</key>
		<string>Cores</string>
		<key>TR</key>
		<string>Renkler</string>
		<key>DE</key>
		<string>Farben</string>
		<key>IT</key>
		<string>Colori</string>
		<key>ES</key>
		<string>Colores</string>
		<key>ZH-HANS</key>
		<string>颜色</string>
		<key>AR</key>
		<string>الألوان</string>
		<key>HE</key>
		<string>צבעים</string>
		<key>DA</key>
		<string>Farver</string>
		<key>SV</key>
		<string>Färger</string>
	</dict>
	<key>items</key>
	<dict>
		<key>EN</key>
		<dict>
			<key>Beige</key>
			<string>Beige</string>
			<key>Blue</key>
			<string>Blue</string>
			<key>Black</key>
			<string>Black</string>
			<key>Brown</key>
			<string>Brown</string>
			<key>Gray</key>
			<string>Grey</string>
			<key>Green</key>
			<string>Green</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>Pink</key>
			<string>Pink</string>
			<key>Purple</key>
			<string>Purple</string>
			<key>Red</key>
			<string>Red</string>
			<key>White</key>
			<string>White</string>
			<key>Yellow</key>
			<string>Yellow</string>
		</dict>
		<key>EN-GB</key>
		<dict>
			<key>Beige</key>
			<string>Beige</string>
			<key>Blue</key>
			<string>Blue</string>
			<key>Black</key>
			<string>Black</string>
			<key>Brown</key>
			<string>Brown</string>
			<key>Gray</key>
			<string>Grey</string>
			<key>Green</key>
			<string>Green</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>Pink</key>
			<string>Pink</string>
			<key>Purple</key>
			<string>Purple</string>
			<key>Red</key>
			<string>Red</string>
			<key>White</key>
			<string>White</string>
			<key>Yellow</key>
			<string>Yellow</string>
		</dict>
		<key>FR</key>
		<dict>
			<key>Beige</key>
			<string>Beige</string>
			<key>Black</key>
			<string>Noir</string>
			<key>Blue</key>
			<string>Bleu</string>
			<key>Brown</key>
			<string>Marron</string>
			<key>Gray</key>
			<string>Gris</string>
			<key>Green</key>
			<string>Vert</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>Pink</key>
			<string>Rose</string>
			<key>Purple</key>
			<string>Violet</string>
			<key>Red</key>
			<string>Rouge</string>
			<key>White</key>
			<string>Blanc</string>
			<key>Yellow</key>
			<string>Jaune</string>
		</dict>
		<key>PT</key>
		<dict>
			<key>Beige</key>
			<string>Bege</string>
			<key>Black</key>
			<string>Preto</string>
			<key>Blue</key>
			<string>Azul</string>
			<key>Brown</key>
			<string>Marron</string>
			<key>Gray</key>
			<string>Cinza</string>
			<key>Green</key>
			<string>Verde</string>
			<key>Orange</key>
			<string>Laranja</string>
			<key>Pink</key>
			<string>Rosa</string>
			<key>Purple</key>
			<string>Roxo</string>
			<key>Red</key>
			<string>Vermelho</string>
			<key>White</key>
			<string>Branco</string>
			<key>Yellow</key>
			<string>Amarelo</string>
		</dict>
		<key>TR</key>
		<dict>
			<key>Beige</key>
			<string>Bej</string>
			<key>Black</key>
			<string>Siyah</string>
			<key>Blue</key>
			<string>Mavi</string>
			<key>Brown</key>
			<string>Kahverengi</string>
			<key>Gray</key>
			<string>Gri</string>
			<key>Green</key>
			<string>Yeşil</string>
			<key>Orange</key>
			<string>Turuncu</string>
			<key>Pink</key>
			<string>Pembe</string>
			<key>Purple</key>
			<string>Mor</string>
			<key>Red</key>
			<string>Kırmızı</string>
			<key>White</key>
			<string>Beyaz</string>
			<key>Yellow</key>
			<string>Sarı</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>Beige</key>
			<string>beige</string>
			<key>Black</key>
			<string>schwarz</string>
			<key>Blue</key>
			<string>blau</string>
			<key>Brown</key>
			<string>braun</string>
			<key>Gray</key>
			<string>grau</string>
			<key>Green</key>
			<string>grün</string>
			<key>Orange</key>
			<string>orange</string>
			<key>Pink</key>
			<string>rosa</string>
			<key>Purple</key>
			<string>lila</string>
			<key>Red</key>
			<string>rot</string>
			<key>White</key>
			<string>weiß</string>
			<key>Yellow</key>
			<string>gelb</string>
		</dict>
		<key>IT</key>
		<dict>
			<key>Beige</key>
			<string>Beige</string>
			<key>Black</key>
			<string>Nero</string>
			<key>Blue</key>
			<string>Blu</string>
			<key>Brown</key>
			<string>Marrone</string>
			<key>Gray</key>
			<string>Grigio</string>
			<key>Green</key>
			<string>Verde</string>
			<key>Orange</key>
			<string>Arancione</string>
			<key>Pink</key>
			<string>Rosa</string>
			<key>Purple</key>
			<string>Viola</string>
			<key>Red</key>
			<string>Rosso</string>
			<key>White</key>
			<string>Bianco</string>
			<key>Yellow</key>
			<string>Giallo</string>
		</dict>
		<key>ES</key>
		<dict>
			<key>Beige</key>
			<string>Beige</string>
			<key>Black</key>
			<string>Negro</string>
			<key>Blue</key>
			<string>Azul</string>
			<key>Brown</key>
			<string>Marrón</string>
			<key>Gray</key>
			<string>Gris</string>
			<key>Green</key>
			<string>Verde</string>
			<key>Orange</key>
			<string>Naranja</string>
			<key>Pink</key>
			<string>Rosa</string>
			<key>Purple</key>
			<string>Violeta</string>
			<key>Red</key>
			<string>Rojo</string>
			<key>White</key>
			<string>Blanco</string>
			<key>Yellow</key>
			<string>Amarillo</string>
		</dict>
		<key>ZH-HANS</key>
		<dict>
			<key>Beige</key>
			<string>米色</string>
			<key>Black</key>
			<string>黑色</string>
			<key>Blue</key>
			<string>蓝色</string>
			<key>Brown</key>
			<string>棕色</string>
			<key>Gray</key>
			<string>灰色</string>
			<key>Green</key>
			<string>绿色</string>
			<key>Orange</key>
			<string>橙色</string>
			<key>Pink</key>
			<string>粉红色</string>
			<key>Purple</key>
			<string>紫色</string>
			<key>Red</key>
			<string>红色</string>
			<key>White</key>
			<string>白色</string>
			<key>Yellow</key>
			<string>黄色</string>
		</dict>
		<key>AR</key>
		<dict>
			<key>Beige</key>
			<string>البيج</string>
			<key>Black</key>
			<string>أسود</string>
			<key>Blue</key>
			<string>أزرق</string>
			<key>Brown</key>
			<string>بنى</string>
			<key>Gray</key>
			<string>رمادي</string>
			<key>Green</key>
			<string>أخضر</string>
			<key>Orange</key>
			<string>برتقالي</string>
			<key>Pink</key>
			<string>وردي</string>
			<key>Purple</key>
			<string>أرجواني</string>
			<key>Red</key>
			<string>أحمر</string>
			<key>White</key>
			<string>أبيض</string>
			<key>Yellow</key>
			<string>أصفر</string>
		</dict>
		<key>HE</key>
		<dict>
			<key>Beige</key>
			<string>חום בהיר</string>
			<key>Black</key>
			<string>שחור</string>
			<key>Blue</key>
			<string>כחול</string>
			<key>Brown</key>
			<string>חום</string>
			<key>Gray</key>
			<string>אפור </string>
			<key>Green</key>
			<string>ירוק</string>
			<key>Orange</key>
			<string>כתום</string>
			<key>Pink</key>
			<string>ורוד</string>
			<key>Purple</key>
			<string>סגול</string>
			<key>Red</key>
			<string>אדום</string>
			<key>White</key>
			<string>לבן</string>
			<key>Yellow</key>
			<string>צהוב</string>
		</dict>
		<key>DA</key>
		<dict>
			<key>Beige</key>
			<string>Beige</string>
			<key>Black</key>
			<string>Sort</string>
			<key>Blue</key>
			<string>Blå</string>
			<key>Brown</key>
			<string>Brun</string>
			<key>Gray</key>
			<string>Grå</string>
			<key>Green</key>
			<string>Grøn</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>Pink</key>
			<string>Lyserød</string>
			<key>Purple</key>
			<string>Lilla</string>
			<key>Red</key>
			<string>Rød</string>
			<key>White</key>
			<string>Hvid</string>
			<key>Yellow</key>
			<string>Gul</string>
		</dict>
		<key>SV</key>
		<dict>
			<key>Beige</key>
			<string>Beige</string>
			<key>Black</key>
			<string>Svart</string>
			<key>Blue</key>
			<string>Blå</string>
			<key>Brown</key>
			<string>Brun</string>
			<key>Gray</key>
			<string>Grå</string>
			<key>Green</key>
			<string>Grön</string>
			<key>Orange</key>
			<string>Orange</string>
			<key>Pink</key>
			<string>Rosa</string>
			<key>Purple</key>
			<string>Lila</string>
			<key>Red</key>
			<string>Röd</string>
			<key>White</key>
			<string>Vit</string>
			<key>Yellow</key>
			<string>Gul</string>
		</dict>
	</dict>
</dict>
</plist>
